#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em

#btn-btt
  position: fixed
  bottom: 50px
  right: 50px
  background: #fff;
  color: color-link;
  text-align: center;
  width: 60px;
  height:60px;
  padding: 12px;
  margin: 15px 15px;
  border-radius: 30px;
  font-size: 25px;
  border: 2px solid color-link;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  text-decoration: none;
  z-index:9999;
  outline: none;
  display: none;